
@{
    ViewBag.Title = "Index";
}

<h3>Lista de Pokemons</h3>
    
<div class="row">
    <div class="col-12">
        <a class="btn btn-primary float-right" href="@Url.Action("Cadastro")">
            Novo Pokemon</a>
    </div>
</div>


